* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    padding: 2rem;
}

main {
    max-width: 600px;
    background-color: #555;
    color: #fff;
    padding: 1.5rem;
    border-radius: .5rem;
    margin: 0 auto;
}

h1 {
    margin-bottom: 1rem;
    text-align: center;
}

form {
    background-color: #ddd;
    color: #000;
    padding: 1.5rem;
    border-radius: .5rem;
    display: grid;
    gap: 1.3rem;
}

.quiz-item {
    display: grid;
    gap: .5rem;
}

input,
textarea,
select {
    padding: .75rem;
    width: 100%;
    font-size: 1rem;
    border: 1px solid #aaa;
    border-radius: .3rem;
}

code {
    display: block;
    background-color: #222;
    color: #fff;
    padding: .5rem;
    border-radius: .3rem;
}

button {
    background-color: navy;
    color: #fff;
    padding: .8rem;
    border-radius: .5rem;
    border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
    font-size: 1.1rem;
    width: 100%;
}

button:hover {
    background-color: #0033aa;
}
