* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

nav {
    background-color: #6a0dad;
    padding: 10px;
}

nav a {
    color: white;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    font-weight: 500;
}

h1 {
    color: #6a0dad;
    margin: 1rem;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid #b39ddb;
    padding: 2px;
    box-shadow: 0 0 20px rgba(106, 13, 173, 0.3);
    border-radius: 8px;
    float: right;
    margin: 0 0 1rem 1rem;
}

main {
    max-width: 840px;
    margin: 1rem;
}

p {
    margin: 0.5rem 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid #b39ddb;
    padding: 1rem;
    background-color: #f3e8ff;
    color: #4b0082;
    text-align: left;
    border-radius: 8px;
    position: relative;
}

/* Ya NO vamos a posicionar el h2 encima de la imagen */
aside h2 {
    margin-bottom: 0.5rem;
    position: static;
}

aside img {
    width: 200px;
    height: auto;
    margin-bottom: 0.5rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #b39ddb;
    text-align: center;
    color: #6a0dad;
    font-weight: 500;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

.indent {
    padding-left: 2rem;
}
