* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}


nav {
    background-color: #6a0dad;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}


h1 {
    color: #6a0dad;
    margin: 1rem;
    border-bottom: 2px solid #6a0dad;
    padding-bottom: 0.5rem;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid #b39ddb;
    padding: 2px;
    box-shadow: 0 0 20px rgba(106, 13, 173, 0.3);
    border-radius: 8px;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    margin: 0.5rem 0;
}


.grid {
    display: grid;
    align-items: center;
    grid-template-columns: 20rem 1fr;
    gap: 1rem;
}

main {
    margin: 1rem;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid #b39ddb;
    padding: 1rem;
    background-color: #f3e8ff;
    color: #4b0082;
    text-align: left;
    border-radius: 8px;
    position: relative;
}

aside h2 {
    margin-bottom: 0.5rem;
}

aside img {
    width: 200px;
    height: auto;
    margin-bottom: 0.5rem;
}


footer {
    margin-top: 15px;
    border-top: 1px solid #b39ddb;
    text-align: center;
    color: #6a0dad;
    font-weight: 500;
}


.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}

.indent {
    padding-left: 2rem;
}
