body {
    font-family: "Poppins", sans-serif;
}

nav {
    background-color: #6a0dad;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-weight: 500;
}

h1 {
    color: #6a0dad;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid #b39ddb;
    padding: 2px;
    box-shadow: 0 0 20px rgba(106, 13, 173, 0.3);
    border-radius: 8px;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid #b39ddb;
    padding: 1rem;
    background-color: #f3e8ff;
    color: #4b0082;
    text-align: center;
    border-radius: 8px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #b39ddb;
    text-align: center;
    color: #6a0dad;
    font-weight: 500;
}
